<div class="right-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">产品信息</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="list-dev-content">
        <div class="product-info-dev">
            <% if(infoData.img){ %>
                <p><span>图片:</span><img src="/images/product_list/<%=infoData.img%>" class="img-responsive" alt="暂无图片" style="max-height:300px;"></p>
            <%}%>
            <% if(infoData.name){ %>
                <p><span>名称:</span><%=infoData.name%></p><br>
            <%}%>
            <% if(infoData.otherName){ %>
                <p><span>别名:</span><%=infoData.otherName || '无'%></p><br>
            <%}%>
            <% if(infoData.enName){ %>
                <p><span>英文名:</span><%=infoData.enName%></p><br>
            <%}%>
            <% if(infoData.formula){ %>
                <p><span>化学式:</span><%=infoData.formula%></p><br>
            <%}%>
            <% if(infoData.CAS){ %>
                <p><span>CAS:</span><%=infoData.CAS%></p><br>
            <%}%>
            <% if(infoData.feature){ %>
                <p><span>特征:</span><%=infoData.feature%></p><br>
            <%}%>
            <% if(infoData.userInfo){ %>
                <p><span>用法:</span><%=infoData.userInfo%></p><br>
            <%}%>
            <% if(infoData.howUse){ %>
                <p><span>用途:</span><%=infoData.howUse%></p><br>
            <%}%>
        </div>
        <!-- <ui>
            <% for(var i=0; i<10; i++){ %>
                <li> <div class="list-dev-content-li-icon"></div> 名字<%=i%></li>
            <%}%>
        </ui> -->
    </div>
</div>