<div class="right-contnet-dev">
    <div class="left-contnet-dev-title">
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">产品列表</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="list-dev-content container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <ui>
                    <% for(var i=0; i < list1.length; i++){ %>
                        <a href="./product_info?id=<%=list1[i].id%>&type=<%=list1[i].type%>">
                            <li>
                                <div class="list-dev-content-li-item">
                                    <img class="list-dev-content-li-icon" src="http://www.csyazhongyue.com/images/product_list/<%=list1[i].img%>">
                                </div>
                                <span class="list-dev-content-li-spane">
                                    <%=list1[i].name%>
                                </span>
                            </li>
                        </a>
                        <%}%>
                </ui>
            </div>
            <div class="col-xs-3">
                <ui>
                    <% for(var i=0; i < list2.length; i++){ %>
                        <a href="./product_info?id=<%=list2[i].id%>&type=<%=list2[i].type%>">
                            <li>
                                <div>
                                    <img class="list-dev-content-li-icon" src="http://www.csyazhongyue.com/images/product_list/<%=list2[i].img%>">
                                </div>
                                <span class="list-dev-content-li-spane">
                                    <%=list2[i].name%>
                                </span>
                            </li>
                        </a>
                        <%}%>
                </ui>
            </div>
            <div class="col-xs-3">
                <ui>
                    <% for(var i=0; i < list3.length; i++){ %>
                        <a href="./product_info?id=<%=list3[i].id%>&type=<%=list3[i].type%>">
                            <li>
                                <div>
                                    <img class="list-dev-content-li-icon" src="http://www.csyazhongyue.com/images/product_list/<%=list3[i].img%>">
                                </div>
                                <span class="list-dev-content-li-spane">
                                    <%=list3[i].name%>
                                </span>
                            </li>
                        </a>
                        <%}%>
                </ui>
            </div>
            <div class="col-xs-3">
                <ui>
                    <% for(var i=0; i < list4.length; i++){ %>
                        <a href="./product_info?id=<%=list4[i].id%>&type=<%=list4[i].type%>">
                            <li>
                                <div>
                                    <img class="list-dev-content-li-icon" src="http://www.csyazhongyue.com/images/product_list/<%=list4[i].img%>">
                                </div>
                                <span class="list-dev-content-li-spane">
                                    <%=list4[i].name%>
                                </span>
                            </li>
                        </a>
                        <%}%>
                </ui>
            </div>
        </div>

        <div class="list-page-btn">
            <a href="./product?index=<%=currentType%>&page=<%=currentPage - 1%>">上一页</a>
            <a href="./product?index=<%=currentType%>&page=<%=currentPage + 1%>">下一页</a>
        </div>
    </div>
</div>