<!DOCTYPE html>
<html>

<head>
    <%- include('gui/metaAndLink.ejs', {}) %>
</head>

<body class="all">
    <%- include('gui/header.ejs', {select: 'about'}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <div style=" width: 210px;display: table-cell;vertical-align: top;">
            <%- include('gui/left_content.ejs', {}) %>
        </div>
        <div class="right-contnet-dev" style="min-height: 400px;width:768px; display: table-cell;vertical-align: top;">
            <div class="left-contnet-dev-title">
                <div class="ui-label-1"></div>
                <div class="left-contnet-dev-title-content">关于我们</div>
                <div class="ui-label-1"></div>
            </div>  
            <div style="padding:10px;">
                <!-- <p>长沙亚中粤化工贸易有限公司</p>
                <p>联系人：周女士</p>
                <p>电话:18574399662</p>
                <p>邮箱：295770229@qq.com</p>
                <p>地址：湖南省长沙市雨花区长沙大道566号至雅大厦</p> -->
                <%for(var i=0; i < base_info.about.length; i++){%>
                <p>
                    <%=base_info.about[i]%>
                </p>
                <%}%>
            </div>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>
</html>