<!DOCTYPE html>
<html>

<head>
    <%- include('gui/metaAndLink.ejs', {}) %>
</head>

<body class="all">
    <%- include('gui/header.ejs', {}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <div style=" width: 210px;display: table-cell;vertical-align: top;">
            <%- include('gui/left_content.ejs', {}) %>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>
</html>