<!DOCTYPE html>
<html>

<head>
    <%- include('gui/metaAndLink.ejs', {}) %>
</head>

<body class="all">
    <%- include('gui/header.ejs', {}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <div style=" width: 210px;display: table-cell;vertical-align: top;">
            <%- include('gui/left_content.ejs', {}) %>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>

<script>
    $(document).ready(function() {
        var mySwiper = new Swiper('#slider1', {
            // direction: 'vertical',
            // autoplay: 3000,
            // loop: true,
            // 如果需要分页器
            // pagination: '.swiper-pagination'
        });

        //注册导航鼠标悬停事件
        $('.dev-nav-item').hover(function(event) {
            $(this).find('.dev-nav-more').show()
        }, function(event) {
            $(this).find('.dev-nav-more').hide()
        });

        $('.dev-nav-more li').hover(function(event) {
            // $(this).css('background', '#14ab11')
        }, function(event) {
            // $(this).css('background', '#049801')
        });

        var swiper2 = new Swiper('#slider2', {
            // pagination: '.swiper-pagination',
            slidesPerView: 5,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 10,
            loop:true,
            autoplay: 1000,//可选选项，自动滑动
            autoplayDisableOnInteraction:false,
            preventLinksPropagation : false,
        });

    })
</script>

</html>