<!DOCTYPE html>
<html>

<head>
    <%- include('gui/metaAndLink.ejs', {}) %>
</head>

<body class="all">
    <%- include('gui/header.ejs', {select: 'hzhb'}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <div style=" width: 210px;display: table-cell;vertical-align: top;">
            <%- include('gui/left_content.ejs', {}) %>
        </div>
        <div class="right-contnet-dev" style="min-height: 400px;width:768px; display: table-cell;vertical-align: top;">
            <div class="left-contnet-dev-title">
                <div class="ui-label-1"></div>
                <div class="left-contnet-dev-title-content">合作伙伴</div>
                <div class="ui-label-1"></div>
            </div>
            <div style="padding:10px;">
                <%=base_info.partner%>
            </div>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>
</html>