<!DOCTYPE html>
<html>

<head>
    <title>长沙亚中粤化工贸易有限公司</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/swiper-3.4.2.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script src="/javascripts/swiper-3.4.2.min.js"></script>

<body class="all">
    <%- include('gui/header.ejs', {select: 'hzhb'}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <div style=" width: 210px;display: table-cell;vertical-align: top;">
            <%- include('gui/left_content.ejs', {}) %>
        </div>
        <div class="right-contnet-dev" style="min-height: 400px;width:768px; display: table-cell;vertical-align: top;">
            <div class="left-contnet-dev-title">
                <div class="ui-label-1"></div>
                <div class="left-contnet-dev-title-content">合作伙伴</div>
                <div class="ui-label-1"></div>
            </div>
            <div style="padding:10px;">
                <%=base_info.partner%>
            </div>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>

<script>
    $(document).ready(function() {
        //注册导航鼠标悬停事件
        $('.dev-nav-item').hover(function(event) {
            $(this).find('.dev-nav-more').show()
        }, function(event) {
            $(this).find('.dev-nav-more').hide()
        });

        $('.dev-nav-more li').hover(function(event) {
            // $(this).css('background', '#14ab11')
        }, function(event) {
            // $(this).css('background', '#049801')
        });
        var swiper2 = new Swiper('#slider2', {
            // pagination: '.swiper-pagination',
            slidesPerView: 5,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 10,
            loop: true,
            autoplay: 1000,//可选选项，自动滑动
            autoplayDisableOnInteraction: false,
            preventLinksPropagation: false,
        });

    })
</script>

</html>