<!DOCTYPE html>
<html>

<head>
    <title>长沙亚中粤化工贸易有限公司</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/swiper-3.4.2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/swiper-3.4.2.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="all">
    <%- include('gui/header.ejs', {select: ''}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <%- include('gui/left_content.ejs', {}) %>
        <div class="right-content-node">
            <%- include('content/content_info.ejs', {}) %>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>

<script>
    $(document).ready(function() {
        //注册导航鼠标悬停事件
        $('.dev-nav-item').hover(function(event) {
            $(this).find('.dev-nav-more').show()
        }, function(event) {
            $(this).find('.dev-nav-more').hide()
        });

        $('.dev-nav-more li').hover(function(event) {
            $(this).css('background', '#14ab11')
        }, function(event) {
            $(this).css('background', '#049801')
        });

        var gundong = function(args) {
            args = args || {}
            var listNode = args.listNode
            if (listNode == null) return;
            var speed = args.speed || 0.3
            var dir = args.dir || 0

            var totalLength = listNode.children().length;
            var itemWidth = listNode.children().eq(0).outerWidth();
            var index = 0
            var func = function() {
                index += speed;
                if (index > itemWidth) {
                    listNode.children()[totalLength - 1].after(listNode.children()[0])
                    index = 0;
                }
                if (dir == 1) {
                    listNode.scrollLeft(index);
                } else {
                    listNode.scrollTop(index);
                }
                setTimeout(func, 1 / 15);
            }
            func()
        }

        var tiaodong = function(args) {
            args = args || {}
            var listNode = args.listNode
            if (listNode == null) return;
            var speed = args.speed || 3000
            var dir = args.dir || 0

            var totalLength = listNode.children().length;
            var fristItem = listNode.children().eq(0);
            var secondItem = listNode.children().eq(1);
            var itemHeight = fristItem.outerHeight();
            var func = function() {
                listNode.animate({
                    scrollTop: listNode.children().eq(0).outerHeight()
                }, 1000, function() {
                    listNode.children()[totalLength - 1].after(listNode.children()[0])
                    setTimeout(func, 3000)
                });
            }
            func()
        }


        // $(function(){

        gundong({
            listNode: $('.content-index-shangpin-list'),
            dir: 1
        });

        // tiaodong({
        //     listNode: $('#list_1')
        // });
        // tiaodong({
        //     listNode: $('#list_2')
        // });
        // tiaodong({
        //     listNode: $('#list_3')
        // });
        // content-index-title-list
        // });

        var swiper2 = new Swiper('#slider2', {
            // pagination: '.swiper-pagination',
            slidesPerView: 5,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 10,
            loop: true,
            autoplay: 1000,//可选选项，自动滑动
            autoplayDisableOnInteraction: false,
            preventLinksPropagation: false,
        });

    })
</script>

</html>