<!DOCTYPE html>
<html>

<head>
    <%- include('gui/metaAndLink.ejs', {}) %>
</head>

<body class="all">
    <%- include('gui/header.ejs', {select: ''}) %>
    <%- include('gui/info.ejs', {}) %>
    <div class="mian-node">
        <%- include('gui/left_content.ejs', {}) %>
        <div class="right-content-node">
            <%- include('content/list_content.ejs', {}) %>
        </div>
    </div>
    <%- include('gui/foot.ejs', {}) %>
</body>
</html>