<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lehoo智能水杯-服务中心</title>
    <% include ./gui/metaAndLink.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class="all">
<%- include('gui/header.ejs', {id:5}) %>
<div class="jx-layout-center">
    <img style="padding-top: 30px" class="img-responsive" src="/images/question/label.png">
</div>
<div class="jx-question-div">
    <ul class="jx-question-items">
        <li class="active" data-value="0" style="margin-right: 37px">
            <div class="jx-question-items-div">
                <div id="jx-question-item-title"><h3>经典款</h3>

                    <p>Classics</p></div>
                <img src="/images/question/01.png">
            </div>
        </li>
        <li data-value="1" style="margin-right: 37px">
            <div class="jx-question-items-div">
                <div id="jx-question-item-title"><h3>水质款</h3>

                    <p>Water quality model</p></div>
                <img src="/images/question/02.png">
            </div>
        </li>
        <li data-value="2" style="margin-right: 37px">
            <div class="jx-question-items-div">
                <div id="jx-question-item-title"><h3>红唇款</h3>

                    <p>Red lip model</p></div>
                <img src="/images/question/03.png">
            </div>
        </li>
        <li data-value="3" style="margin-right: 0">
            <div class="jx-question-items-div">
                <div id="jx-question-item-title"><h3>玫瑰款</h3>

                    <p>The rose model</p></div>
                <img src="/images/question/04.png">
            </div>
        </li>
    </ul>
</div>
<div class="jx-question-bg">
    <div class="jx-question-div" id="jx-question-panel">
        <div class="jx-question-list" style="display: block">
            <h3>DIFFICULT 经典款</h3>
            <ul>
                <% for(var i = 0; i < classics.length; i++){ %>
                <li>
                    <p><%=classics[i].title%><span>点击查看</span></p>
                    <div>
                        <%=classics[i].desc%>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="jx-question-list">
            <h3>DIFFICULT 水质款</h3>
            <ul>
                <% for(var i = 0; i < water.length; i++){ %>
                <li>
                    <p><%=water[i].title%><span>点击查看</span></p>
                    <div>
                        <%=water[i].desc%>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="jx-question-list">
            <h3>DIFFICULT 红唇款</h3>
            <ul>
                <% for(var i = 0; i < water.length; i++){ %>
                <li>
                    <p><%=water[i].title%><span>点击查看</span></p>
                    <div>
                        <%=water[i].desc%>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="jx-question-list">
            <h3>DIFFICULT 玫瑰款</h3>
            <ul>
                <% for(var i = 0; i < water.length; i++){ %>
                <li>
                    <p><%=water[i].title%><span>点击查看</span></p>
                    <div>
                        <%=water[i].desc%>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% include gui/foot.ejs %>
<script>
    $(function () {
        var lists = $('#jx-question-panel').children();
        $('.jx-question-items li').hover(function () {
            $(this).addClass('select');
        }, function () {
            $(this).removeClass('select');
        }).click(function () {
            if (!$(this).hasClass('active')) {
                $('.jx-question-items').children().removeClass('active');
                $(this).addClass('active');
                //切换panel部分
                $(lists).hide();
                switch ($(this).data('value')) {
                    case 0:
                        lists.eq(0).show('fast');
                        break;
                    case 1:
                        lists.eq(1).show('fast');
                        break;
                    case 2:
                        lists.eq(2).show('fast');
                        break;
                    case 3:
                        lists.eq(3).show('fast');
                        break;
                    default:
                        break;
                }
            }
        });
        $('.jx-question-list ul li p span').click(function () {
            var obj = $(this);
            if (obj.text() === "点击关闭") {
                obj.parent().parent().find('div').hide();
                obj.text('点击查看');
            } else {
                obj.parent().parent().find('div').show();
                obj.text('点击关闭');
            }
        });
    });
</script>
</body>
</html>