<table class="am-table am-table-striped am-table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>图片</th>
            <th>产品</th>
            <th>换图</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0;i < productListData.length ;i++){ %>
            <%if(productListData[i].home == 1){%>
                <tr class="am-danger">
                    <%}else {%>
                        <tr class="am-success">
                            <%}%>
                                <td>
                                    <%= productListData[i].id %>
                                </td>
                                <td>
                                    <img class="new-list-img" src="../images/product_list/<%=productListData[i].img%>" />
                                </td>
                                <td class="new-list-title">
                                    <%= productListData[i].name %>
                                </td>
                                <td>
                                    <form action="/uploadimg" method="post" enctype="multipart/form-data">
                                        <input id="uploadFile" type="file" name="img" id="doc-ipt-file-1">
                                        <input id="uploadId" type="hidden" name="id" value="<%=productListData[i].id%>">
                                        <button class="btn-upload" onclick="uploadImg(this,'<%= productListData[i].type %>')" class="am-btn am-btn-warning am-btn-sm">
                                            上传图片
                                        </button>
                                    </form>
                                    <button class="btn-upload" onclick="removeImg('<%=productListData[i].id%>','<%= productListData[i].type %>')" class="am-btn am-btn-warning am-btn-sm">
                                        移除图片
                                    </button>
                                </td>
                                <td>
                                    <a href="/background/editproduct?id=<%=productListData[i].id%>" type="button" class="am-btn am-btn-secondary am-btn-sm">
                                        编辑
                                    </a>
                                    <button onclick="deleteProduct('<%= productListData[i].id %>','<%= productListData[i].type %>')" type="button" class="am-btn am-btn-danger am-btn-sm">
                                        删除
                                    </button>
                                    <%if(productListData[i].home == 0){%>
                                        <a onclick="addHome('<%= productListData[i].id %>','<%= productListData[i].type %>')" class="am-btn am-btn-secondary am-btn-sm">
                                            添加首页
                                        </a>
                                        <%}else {%>
                                            <a onclick="removeHome('<%= productListData[i].id %>','<%= productListData[i].type %>')" class="am-btn am-btn-danger am-btn-sm">
                                                移除首页
                                            </a>
                                            <%}%>
                                </td>
                        </tr>
                        <% } %>
    </tbody>
</table>

<div class="am-popup" id="change_img_popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">切换新闻图片</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div id="NewsImgContent" class="am-popup-bd">
        </div>
    </div>
</div>

<script>
    var deleteProduct = function (id, type) {
        console.log('deleteproduct', id, type);
        $.post('/background/deleteproduct', {
            id: id
        }, function (data) {
            if (data.ret === 0) {
                // alert('删除成功!');
                window.location.href = '/background/productlist?type=' + type;
            } else {
                alert('删除失败:' + data.msg);
            }
        });
    }
    var uploadImg = function (event, type) {
        var filePath = $($(event).parent()[0]).children("#uploadFile").val();
        if (!filePath) {
            alert('未选择图片,请先选择需要上传的图片');
            return;
        }
        $.ajax({
            url: '/uploadimg',
            type: 'POST',
            cache: false,
            data: new FormData($(event).parent()[0]),
            processData: false,
            contentType: false
        }).done(function (res) {
            window.location.href = '/background/productlist?type=' + type;
            // console.log(res.msg);
        }).fail(function (res) {});
    }

    var removeImg = function (id, type) {
        $.post('/background/deleteimg', {
            id: id
        }, function (data) {
            if (data.ret === 0) {
                window.location.href = '/background/productlist?type=' + type;
            } else {
                alert('移除失败:' + data.msg);
            }
        });
    }
    var addHome = function (id, type) {
        $.post('/background/addhome', {
            id: id
        }, function (data) {
            if (data.ret === 0) {
                window.location.href = '/background/productlist?type=' + type;
            } else {
                alert('移除失败:' + data.msg);
            }
        });
    }
    var removeHome = function (id, type) {
        $.post('/background/removehome', {
            id: id
        }, function (data) {
            if (data.ret === 0) {
                window.location.href = '/background/productlist?type=' + type;
            } else {
                alert('移除失败:' + data.msg);
            }
        });
    }
</script>